// out: styles.css, compress: true, sourceMap: false

@charset "utf-8";
/* CSS Document */

body {
	font-size: 16px;
	margin: 0;
	padding: 0;

	font-family: Arial, Helvetica, sans-serif;
}

* {
	box-sizing: border-box;
}

// Banner
// --------------------------------
.banner {
	&__inner {
		display: block;
		margin: auto;

		padding: 1rem;

		font-size: 1.5rem;

		background: rgb(230, 248, 255);
	}

	&__btn {
		float: right;
		padding: 0.25rem;
		cursor: pointer;
	}
}

// Main
// --------------------------------
.main {
	&__inner {
		display: flex;
	}

	&__item {
		width: 50%;
		padding: 1rem;
	}
}

// Gallery
// --------------------------------

.gallery {

	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, 15rem);
		align-items: flex-end;

		margin-bottom: 2rem;
	}

	&__item {
		padding: 1rem;
		text-align: center;

		position: relative;
	}

	.js-gallery-btn {
		cursor: pointer;
	}

	&__item-icon {
		font-size: 4rem;
	}

	&__item-img img {
		max-width: 100%;
	}

	&__item-name {

		&:first-child {
			margin-bottom: 0.75rem;
		}
		&:last-child {
			margin-top: 0.75rem;
		}
	}
	
	&__item-hyperlink {

		margin-bottom: 0.75rem;
		font-size: 0.75em;
	}

	&__item-anchor {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

}

.img {
	&-shutterstock {
		width: 50%;
	}
}